body {
  font-family: sans-serif;
  font-size: 2em;
}

#count-label {
  display: block;
  text-align: center;
  font-size: 10em;
}

#button-container {
  text-align: center;
}

.button {
  padding: 10px 15px;
  font-size: 1.5em;
  color: white;
  background-color: aqua;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.button:hover {
  background-color: cadetblue;
}